
#///////////////////////////
# Cocos Creator 3D Project
#///////////////////////////
/library/
/temp/
/local/
/build/
/profiles/
.DS_Store
native
#//////////////////////////
# NPM
#//////////////////////////
node_modules/

#//////////////////////////
# VSCode
#//////////////////////////
.vscode/

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/